@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:400,700');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;

}

body{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-family: 'Roboto', sans-serif;
}

nav{
	background-color: #7D7F7E;
	width: 100%;

	
}

nav a{
	display: inline-block;
	padding: 1em 2em;
	margin: 0 2em;	
	text-transform: uppercase;
	color: white;

}

nav a:hover{
	color: green;

}

h2{	color:#aaa;
	font-size: 3em;
	margin: 1em;
	padding: 1.5em;

}

h3{
	color: green;
	text-transform: uppercase;
}

hr{
	margin: 0 auto;
	padding: 0 auto;
	width:20%;
	border: .5px solid green;
}

p{
	font-family: 'Roboto Slab', serif;


}

aside{
	float: right;
}

footer{
	background-color: grey;
	width: 100%;
	margin-top: 5em;
	padding:.5em;
}

.wrapper{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	width: 80%;
	text-align: center;
}

.story{
	font-style: italic;
	line-height: 2.5em;
	margin:0 auto;
	width: 65%;
}

.story2{
	line-height: 2.5em;
	margin: 0 auto;
	width: 65%;
	padding-top: 4em;
}

.map{
	width: 100%;
	padding: 1em;
	height: 30em;
}

.clearfix:after{
	visibility: hidden;
	display: block;	
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}


#logo{
	margin: 1em;
	padding: 1em;
	box-shadow: 2px 2px 4px rgba(0,0,0,.25);
}



#button{
	color: green;
	padding: 4em;
}

#longisland{
	margin: 0 auto;
	padding: .5em;

}

#caption{
	margin: 0 auto;
	padding: 4em;
	width: 100%;
}

#column, #column2{
	display: inline-block;
	border: 2px solid green;
	margin: 2em 2em;
	padding: 3em;
}

#wintermarkets, #summermarkets{
	float: left;


}

	

/*#left{
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float:	left;
	width: 30%;
}

#right{
	background-color: #e55b88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}*/

#box1, #box2, #box3, #box4{
	width: 25%;
	background-color: #3F403C;
	float:left;
	margin: .5em auto;
	padding: 5em;
	height: 60em;
}

#box2{
	background-color: #BCBFB5;
}

#box3{
	background-color: #7D7F79;
}

#box4{
	background-color: #E1E5D9;
}



