@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');


body{
	margin: 0px;
	padding: 0px ;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Roboto', sans-serif;

}

header{
	background-color: #FFED74;
	
}

nav{
	background-color: #E8C66A;
	border: 10px solid black;



}

footer{
	background-color: #FF957E;
	
}

h2{
	font-size: 40px;
}

.wrapper{
	width: 100%;

}

.logo{


}


#one #two #three{
	background-color: #FFE2B8;
	padding:20px;

}


.box{
	background-color: #FFC675;
	margin: 0 auto;
	padding: 250px;

}


.story{
	background-color: #E89C6C;
	font-style: italic;
	text-align: center;
	margin: auto;
	padding:30px;
	font-size: 15px;
	line-height: 1.75em;
	width: 45em;
}

.story2{
	background-color: #E89C6C;
	
}