
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');

body{
	margin: 0px;
	padding: 0px ;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

header{

}

footer{

}

section{

}

main{

}

h2{
	font-size: 50px;
	padding-top: 40px;
	margin: auto;
}

li{
	display: inline-block;
	font-size: 30px;
}

p{
	
}

a{

}

.story{
	text-align: center;
	margin: auto;
	padding:20px;
	font-size: 20px;
	line-height: 1.5em;
	width: 40em;
	font-style: italic;
}

.background{
	background-position: bottom;
	background-image: url(images/long-island.jpg);
	height: 100vh;
}


#logo{
	box-shadow: 2px 2px 5px white;
}


#button{

}

.gallery{
	box-sizing: border-box;
	width: 33.33%;
	float: left;
	margin: auto;

}