@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:400,700');


body{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

nav{
	background-color: #7D7F7E;
	color: white;
	padding: 1em;
	text-decoration: none;
}

nav a{
	margin: 2em;
	padding: 4em;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover{
	color: white;

}

h2{	
	font-size: 3em;
	margin: 1em;
	padding: 1.5em;

}


p{
	font-family: 'Roboto Slab', serif;

}

aside{
	float: right;
}

footer{
	background-color: grey;
	margin-top: 5em;
	padding:.5em;
}

.wrapper{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	width: 80em;
	text-align: center;
}

.story{
	font-style: italic;
	line-height: 1.5em;
	margin:0 auto;
	width: 50em;
}

.story2{
	line-height: 1.5em;
	margin: 0 auto;
	width: 50em;
}

.map{
	background-color: blue;
	padding: 2em;
	height: 30em;
}

.clearfix:after{
	visibility: hidden;
	display: block;	
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

#logo{
	margin: 1em;
	padding: 1em;
	box-shadow: 2px 2px 4px rgba(0,0,0,.25);
}

#two{
	background-color: grey;
	margin: auto;
	padding: .5em;
	height: 60em;
}

#four{
	display: inline;
	padding: 2em ;
	width: 22em;
}

/*#two_column{
	background-color: #ffb7cf;
	border: 1px black solid;
	padding: 20px;
}*/

/*#left{
	background-color: #e582a2;
	border: 1px black solid;
	padding: 20px;
}*/

/*#right{
	background-color: #e55b88;
	border: 1px black solid;
	padding: 20px;
}*/

#box1, #box2, #box3, #box4{
	width: 10em;
	background-color: #3F403C;
	float:left;
	margin: .5em auto;
	padding: 5em;
	height: 60em;
}

#box2{
	background-color: #BCBFB5;
}

#box3{
	background-color: #7D7F79;
}

#box4{
	background-color: #E1E5D9;
}



